.font-white { color: white; }
.font-primary { color: $primary }

.container {
    margin: auto;
    padding: 0 16px;
    transition: padding 0.33s;
}

@media only screen and (min-width: $laptop) {
    .container {
        padding: 0 21px 0 225 + 21px;
    }
}
