@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Montserrat|Raleway:400,700');
@import 'normalize';
@import 'variables';
@import 'animations';
@import 'utility';

body {
    font-family: $raleway;
    color: $grey800;
    -webkit-font-smoothing: antialiased;
    background-color: #fdfdfd;
}

h1 {
    font-size: 2.3em;
}

p {
    font-family: $montserrat;
    line-height: 1.5;
}

textarea {
    resize: none;
    resize: vertical;
}

.icon {
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    cursor: pointer;
}
