@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Montserrat|Raleway:400,700');
@import 'normalize';
@import 'variables';
@import 'utility';
@import 'animations';

body {
    font-family: $raleway;
    color: $grey900;
    background-color: #fdfdfd;
}

h1 {
    font-size: 2.3em;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

textarea {
    resize: none;
    resize: vertical;
}

.dialog-form {
    padding: 16px;
}

.dialog-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.dialog-form-name {
    font-family: $montserrat;
    margin: 7px 0;
}

.dialog-form-input {
    padding: 7px;
    font-family: $montserrat;
    border: 1px solid $grey300;
    border-radius: 3px;
}

.dialog-subtasks-list {
    padding-left: 12px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $grey300;
    background-color: #fefefe;
}

.icon {
    transition: all 0.25s ease-in-out;
}

.icon:hover {
    cursor: pointer;
}
