@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Montserrat|Raleway:400,700');
@import 'normalize';
@import 'variables';
@import 'animations';
@import 'utility';

body {
    font-family: $raleway;
    color: $grey900;
    background-color: #fdfdfd;
}

h1 {
    font-size: 2.3em;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

textarea {
    resize: none;
    resize: vertical;
}

.dialog-container {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 200;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.33);
    transition: all 0.25s ease-out;
}

.dialog-container.show > .dialog-content {
    animation: 0.3s ease fade-in-up-slight;
}

.dialog-content {
    z-index: 201;
    margin: 0 auto;
    margin-top: 4em;
    max-width: $tablet;
    background-color: #fefefe;
    border-radius: 3px;
}

.dialog-header {
    background-color: $primary;
    padding: 28px 16px;
    border-radius: 3px 3px 0 0;
}

.dialog-title {
    margin: 0;
    font-size: 2em;
    font-family: $montserrat;
    font-weight: normal;
}

.dialog-footer {
    display: flex;
    justify-content: center;
}

.dialog-form {
    padding: 16px;
}

.dialog-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.dialog-form-name {
    font-family: $montserrat;
    margin: 7px 0;
}

.dialog-form-input {
    padding: 7px;
    font-family: $montserrat;
    border: 1px solid $grey300;
    border-radius: 3px;
}

.dialog-subtasks-list {
    padding-left: 12px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $grey300;
    background-color: #fefefe;
}

.icon {
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    cursor: pointer;
}
